{% extends 'base.html' %}
{% block content %}

<div class="contact-banner">
    <div class="form-on-banner">

        <h2>Contact Us</h2>

        <form>

            <label>
                <img src="{{ url_for('static', filename='icons/user.png') }}" class="label-icon">
                Name
            </label>
            <input type="text">

            <label>
                <img src="{{ url_for('static', filename='icons/email.png') }}" class="label-icon">
                Email
            </label>
            <input type="email">

            <label>
                <img src="{{ url_for('static', filename='icons/interest.png') }}" class="label-icon">
                Message
            </label>
            <textarea rows="5"></textarea>

            <button class="btn-primary">Send Message</button>

        </form>

    </div>
</div>

{% endblock %}
