{% extends 'base.html' %}
{% block content %}

<div class="form-container">
    <h2>Career Test</h2>

    <form method="POST">

        <label>
            <img src="{{ url_for('static', filename='icons/user.png') }}" class="label-icon">
            Name
        </label>
        <input type="text" name="name" required>

        <label>
            <img src="{{ url_for('static', filename='icons/skills.png') }}" class="label-icon">
            Your Skills (comma separated)
        </label>
        <input type="text" name="skills" placeholder="python, html, sql" required>

        <label>
            <img src="{{ url_for('static', filename='icons/interest.png') }}" class="label-icon">
            Your Interest Domain
        </label>
        <select name="interests" required>
            <option value="ml">Machine Learning</option>
            <option value="web">Web Development</option>
            <option value="data">Data Science</option>
            <option value="android">Android</option>
            <option value="cyber">Cyber Security</option>
            <option value="cloud">Cloud Computing</option>
        </select>

        <br><br>        
        <button type="submit" class="btn-primary">Get Recommendations</button>
    </form>
</div>

{% endblock %}
